div {
    background-color: black;
    width: 100%;
    height: 23px;
    margin-bottom: 10px;
}

body {
    width: 100%;
    height: 100vh;
    background-color: lightgray;
}

main {
    background-color: white;
    width: 50%;
    margin: auto;
    text-align: center;
   border-style: outset;
}

nav {
    width: 100%;
    font-size: x-small;
    text-align: center;
}

h2 {
    text-align: center;
}

#start {
    width: 100%;
    text-align: center;
    font-family: Arial;
    font-size: smaller;
}

#scroll {
    margin: 4px, 4px;
    padding: 4px;
    width: 80%;
    height: 110vh;
    overflow-x: hidden;
    overflow-y: auto;
    text-align: justify;
    background-color: white;
    border-bottom-style: inset;
   border-top-style: outset;
}

footer {
    text-align: center;
    font-size: smaller;
    font-family: arial;
}

ul {
    list-style-type: none;
    margin-top: 0;
    padding: 0;

}

li {
    display: inline;
}

li a {
    display: inline;
    padding: 8px;
    color: white;
    text-decoration: none;
}

cite {
    font-style: normal;
    font-weight: bold;
}

blockquote {
    font-family: arial;
    font-size: small;
}

#final {
    font-size: small;
    font-weight: bold;
}

#name {
    font-size: smaller;
    color: dimgray;
}
h6{
    color: dimgrey;
}